# Maven specific
target/
*.iml

# IDE specific
.idea/
.vscode/

# TestNG reports
test-output/

# Logs
Logs/
logs/

# Compiled Java classes
*.class

# Package files
*.jar
*.war
*.ear
*.log
# Dependency directories
lib/
